/*version tablette*/
@media (min-width: 768px) and (max-width: 992px) {
  .flex-tab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .function-block {
    width: 45%;
  }
  .menu-select-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .menu-select-wrap .menu-select {
    width: 30%;
  }
  .menu-select-wrap .menu-select .menu-block-text {
    -webkit-transition: width 0.5s ease-in;
    transition: width 0.5s ease-in;
  }
  .menu-select-wrap .menu-select .menu-block-text h4, .menu-select-wrap .menu-select .menu-block-text p {
    width: 180px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
  }
  .menu-select-block:hover .menu-block-text {
    width: 55%;
  }
  .menu-select-block:hover .menu-block-text h4, .menu-select-block:hover .menu-block-text p {
    width: 100px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
  }
  .menu-select-block:hover .menu-block-check {
    margin-right: 0;
    width: 25%;
  }
}

@media all and (min-width: 992px) {
  .flex-tab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .restaurant-articles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .function-block {
    width: 30%;
  }
  .restaurant-card {
    width: 45%;
  }
  .nouveau-tag {
    width: 10%;
    left: 8%;
  }
  .extra-left {
    left: 54%;
  }
  .menu-select-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .menu-select-wrap .menu-select {
    width: 30%;
  }
  .menu-select-wrap .menu-select .menu-block-text {
    -webkit-transition: width 0.5s ease-in;
    transition: width 0.5s ease-in;
  }
  .menu-select-wrap .menu-select .menu-block-text h4, .menu-select-wrap .menu-select .menu-block-text p {
    width: 180px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
  }
  .menu-select-block:hover .menu-block-text {
    width: 55%;
  }
  .menu-select-block:hover .menu-block-check {
    margin-right: 0;
    width: 30%;
  }
  .menu-select-block:hover .menu-block-price {
    width: 14%;
  }
}
/*# sourceMappingURL=desktop.css.map */