html,
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-family: 'Shrikhand', cursive;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p,
h4,
span,
li {
  font-family: 'Roboto',sans-serif;
}

p {
  font-weight: 300;
}

a {
  text-decoration: none;
  color: #000;
}

/*general flexbox properties*/
.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-around {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-column-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-column-around {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex-column-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* header logo and text*/
.logo {
  width: 50%;
  height: 100px;
  margin: auto;
}

.logo h1 {
  font-size: 3em;
}

.icon-text {
  background-color: #423e4222;
  width: 100%;
  height: 60px;
  border-top: 4px solid #423e4222;
}

.icon-text i {
  margin-right: 10px;
}

.intro {
  background-color: #b5abb522;
  padding-bottom: 20px;
}

.intro-text {
  width: 80%;
  text-align: center;
}

.intro button {
  height: 55px;
  width: 60%;
  border: transparent;
  border-radius: 30px;
  color: white;
  background-color: #FF79DA;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-transition: -webkit-filter 300ms ease-in, -webkit-box-shadow 400ms ease-in;
  transition: -webkit-filter 300ms ease-in, -webkit-box-shadow 400ms ease-in;
  transition: filter 300ms ease-in, box-shadow 400ms ease-in;
  transition: filter 300ms ease-in, box-shadow 400ms ease-in, -webkit-filter 300ms ease-in, -webkit-box-shadow 400ms ease-in;
}

.intro button:hover {
  -webkit-filter: brightness(1.4);
          filter: brightness(1.4);
  -webkit-box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.397), 0 6px 20px 0 rgba(0, 0, 0, 0.219);
          box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.397), 0 6px 20px 0 rgba(0, 0, 0, 0.219);
}

/*boutton des autres page */
.btn-command button {
  height: 55px;
  width: 60%;
  border: transparent;
  border-radius: 30px;
  color: white;
  -webkit-transition: -webkit-filter 300ms ease-in, -webkit-box-shadow 400ms ease-in;
  transition: -webkit-filter 300ms ease-in, -webkit-box-shadow 400ms ease-in;
  transition: filter 300ms ease-in, box-shadow 400ms ease-in;
  transition: filter 300ms ease-in, box-shadow 400ms ease-in, -webkit-filter 300ms ease-in, -webkit-box-shadow 400ms ease-in;
  background-color: #FF79DA;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-command button:hover {
  -webkit-filter: brightness(1.4);
          filter: brightness(1.4);
  -webkit-box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.397), 0 6px 20px 0 rgba(0, 0, 0, 0.219);
          box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.397), 0 6px 20px 0 rgba(0, 0, 0, 0.219);
}

.btn-command {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5%;
}

/* section Fonctionnement */
.function-wrap {
  width: 90%;
  margin-bottom: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fonction-text {
  padding-left: 10px;
}

.function-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85%;
  height: 60px;
  margin-bottom: 15px;
  background-color: #b5abb522;
  border-radius: 15px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-transition: background-color 250ms ease-in;
  transition: background-color 250ms ease-in;
}

.function-block:hover {
  background-color: #b5abb56e;
}

.function-block:hover i {
  color: #9356DC;
}

.function-num {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
  margin-left: -6%;
}

.function-icon {
  width: 20%;
}

.function-icon i {
  color: #2e2e3696;
}

.nouveau-tag {
  position: absolute;
  background-color: #99E2D0;
  color: #2ab391;
  z-index: 1;
  width: 25%;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
  right: 45px;
}

/* section restaurants */
.restaurants {
  background-color: #b5abb522;
}

.restaurants-wrap {
  width: 90%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.restaurant-text {
  padding-left: 10px;
}

.restaurants-articles {
  width: 100%;
}

.restaurant-card {
  width: 100%;
  height: 250px;
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: white;
  -webkit-transition: background-color 250ms ease-in;
  transition: background-color 250ms ease-in;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.restaurant-card:hover {
  background-color: #99E2D0;
}

.restaurant-card a {
  text-decoration: none;
  color: #000;
}

.restaurant-img {
  width: 100%;
  height: 175px;
}

.restaurant-img img {
  width: 100%;
  height: 175px;
  border-radius: 20px 20px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurant-text-icon {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.restaurant-caption {
  width: 65%;
  height: 60px;
  padding-top: 2%;
}

.restaurant-caption h4, .restaurant-caption p {
  margin: 0;
  margin-top: 1%;
}

/*animation du like button*/
.restaurant-hear {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.heart {
  position: relative;
  margin: 0;
}

.heart i {
  position: absolute;
  font-size: 40px;
}

.heart .heart-full {
  z-index: 0;
  opacity: 0;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.heart .heart-empty {
  z-index: 1;
}

.heart:hover .heart-full {
  opacity: 1;
  z-index: 1;
}

/* footer */
footer {
  background-color: #353535;
}

.footer-wrap {
  width: 95%;
  margin: auto;
}

.footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 45%;
  margin-left: 35px;
}

.footer-logo h1 {
  color: white;
  font-size: 1.5em;
  font-weight: 500;
}

.footer-text .extra-pad {
  padding-left: 10px;
}

.footer-text span {
  padding-left: 4px;
}

.footer-text a {
  color: white;
}

.footer-text ul {
  color: white;
  list-style-type: none;
  margin: 0;
}

.footer-text li {
  margin-bottom: 10px;
}

/* the other pages layout pages */
/* header an logo*/
.logo_menu {
  width: 70%;
  height: 60px;
}

.logo_menu img {
  width: 100%;
  height: 60px;
  -o-object-fit: contain;
     object-fit: contain;
}

.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.back_arrow {
  width: 15%;
  height: 60px;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: black;
}

/* showing the background image with intro */
.background-img-intro {
  height: 265px;
  background-image: url("../../assets/images/image_3.jpg");
  background-size: cover;
}

.background-img-intro-2 {
  height: 265px;
  background-image: url("../../assets/images/image_2.jpg");
  background-size: cover;
}

.background-img-intro-3 {
  height: 265px;
  background-image: url("../../assets/images/image_1.jpg");
  background-size: cover;
}

.background-img-intro-4 {
  height: 265px;
  background-image: url("../../assets/images/image_4.jpg");
  background-size: cover;
}

/*section des entre plat et dessert */
.section-marg {
  background-color: #f6f6f6;
  margin-top: -60px;
  position: relative;
  z-index: 1;
  border-radius: 60px 60px 0 0;
}

.section-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
}

.section-intro h2 {
  width: 92%;
  margin: 0;
  margin-top: 30px;
}

.menu-select-wrap {
  width: 95%;
}

.menu-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 95%;
}

.menu-select-text {
  height: 40px;
  width: 35%;
  margin-bottom: 15px;
  position: relative;
}

.menu-select-text h4 {
  font-weight: 300;
}

/* bordure progressive */
.menu-select-text::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background: #bce4da;
  bottom: -5px;
  -webkit-transform: scaleX(0.3);
          transform: scaleX(0.3);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 250ms ease-in;
  transition: -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in;
  transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
}

.menu-select-text:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

/* hover avec les point ....*/
.menu-select-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 75px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  -webkit-animation: slide_up 750ms ease-in-out 0ms 1 normal forwards;
          animation: slide_up 750ms ease-in-out 0ms 1 normal forwards;
}

.menu-select-block:hover .menu-block-text h4, .menu-select-block:hover .menu-block-text p {
  width: 180px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.menu-select-block:hover .menu-block-check {
  margin-right: 0;
}

.menu-select-block:hover .menu-block-check i {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

/*appear animation */
.slide_up_1 {
  -webkit-animation-delay: 282ms;
          animation-delay: 282ms;
}

.slide_up_2 {
  -webkit-animation-delay: 556ms;
          animation-delay: 556ms;
}

@-webkit-keyframes slide_up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide_up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.menu-block-text {
  width: 80%;
  height: 75px;
  padding-left: 10px;
  border-radius: 20px;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 1s ease-in-out 250ms;
  transition: -webkit-transform 1s ease-in-out 250ms;
  transition: transform 1s ease-in-out 250ms;
  transition: transform 1s ease-in-out 250ms, -webkit-transform 1s ease-in-out 250ms;
}

.menu-block-text h4, .menu-block-text p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0;
  margin-top: 10px;
}

.menu-block-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 60px;
}

.menu-block-check {
  width: 30%;
  height: 75px;
  bottom: 0;
  margin-right: -30%;
  background-color: #bce4da;
  border-radius: 0 20px 20px 0;
  -webkit-transition: margin-right 0.5s linear;
  transition: margin-right 0.5s linear;
}

.menu-block-check i {
  color: white;
  font-size: 1.8em;
  -webkit-transition: -webkit-transform 750ms ease-in;
  transition: -webkit-transform 750ms ease-in;
  transition: transform 750ms ease-in;
  transition: transform 750ms ease-in, -webkit-transform 750ms ease-in;
}

/* contact form */
.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
}

.contact-divide-img {
  display: none;
  width: 95%;
  height: 250px;
}

.contact-divide-img img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.contact-divide-input {
  width: 95%;
}

.contact-divide-input input {
  width: 97%;
  height: 35px;
  margin-bottom: 15px;
  border-radius: 20px;
  border: transparent;
  padding-left: 20px;
}

.contact-divide-input textarea {
  width: 97%;
  height: 90px;
  margin-bottom: 15px;
  border-radius: 20px;
  border: transparent;
  padding-left: 20px;
}

.contact-divide-input button {
  height: 55px;
  width: 60%;
  border: transparent;
  border-radius: 30px;
  margin-left: 18%;
  margin-bottom: 20px;
  color: white;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  background-color: #FF79DA;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contact-divide-input button:hover {
  -webkit-filter: brightness(1.4);
          filter: brightness(1.4);
  -webkit-box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.397), 0 6px 20px 0 rgba(0, 0, 0, 0.219);
          box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.397), 0 6px 20px 0 rgba(0, 0, 0, 0.219);
}

/* loading spinner */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  -webkit-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
}

@-webkit-keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.pre-loader-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: #74727448;
  z-index: 10;
  opacity: 1;
  -webkit-animation: fade-out 4s ease 0s 1 normal forwards;
          animation: fade-out 4s ease 0s 1 normal forwards;
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}
/*# sourceMappingURL=main.css.map */